body {
  background-color: #0a192f;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#nav-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 5%;
}
#nav-bar #sectionContainer {
  gap: 8%;
  position: relative;
  transform: translateX(200%);
  bottom: 100px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#nav-bar #sectionContainer .sections {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9aad1;
  display: inline-block;
  position: relative;
  padding-left: 5%;
  opacity: 0.5;
  transition: opacity 300ms;
}
#nav-bar #sectionContainer .sections::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
#nav-bar #sectionContainer .sections:hover::after {
  width: 100%;
  opacity: 1;
}
#nav-bar #sectionContainer .sections:hover {
  opacity: 1;
}

#hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  left: 40%;
  bottom: 100px;
}
#hamburger .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-bar-icon {
  width: 100%;
  max-width: 150px;
  height: 150px;
  pointer-events: none;
}

#About-Me-Herosection {
  padding-top: 250px;
  margin-bottom: 15vh;
}
#About-Me-Herosection #About-Me-title {
  transform: translateX(3%);
}
#About-Me-Herosection #About-Me-title p {
  display: inline-block;
  font-weight: bold;
}
#About-Me-Herosection #About-Me-title .smallText {
  white-space: nowrap;
  width: 0;
  font-size: 2vw;
  color: #00caad;
  border-right: 5px solid;
  overflow: hidden;
  animation: typingSmall 1.5s steps(18) forwards, cursor 0.4s step-end infinite alternate;
}
@media (max-width: 1000px) {
  #About-Me-Herosection #About-Me-title .smallText {
    font-size: 3vw;
  }
}
#About-Me-Herosection #About-Me-title .bigText {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid;
  width: 0;
  font-size: 4.5vw;
  color: #ccd3f9;
  animation: typing 2s steps(22) 1.5s forwards, cursor 0.4s step-end infinite alternate;
}
@media (max-width: 1000px) {
  #About-Me-Herosection #About-Me-title .bigText {
    font-size: 5vw;
  }
}
#About-Me-Herosection #About-Me-title #About-Me-TitleText {
  font-size: 4vw;
}
@media (max-width: 1000px) {
  #About-Me-Herosection #About-Me-title #About-Me-TitleText {
    font-size: 5vw;
  }
}
#About-Me-Herosection #About-Me-title .About-Me-Text {
  opacity: 0;
  color: #8892b0;
  animation: 3s fade-in 4s forwards;
}
#About-Me-Herosection #About-Me-title .description {
  font-size: 1.5vw;
  width: 63%;
  margin-bottom: 50px;
}
#About-Me-Herosection #About-Me-title .description #About-Me-Text-Description {
  display: inline;
  width: 30px !important;
}
@media (max-width: 1000px) {
  #About-Me-Herosection #About-Me-title .description {
    font-size: 3vw;
  }
}

#About-Me {
  margin-bottom: 30vh;
}
#About-Me #About-Me-Information {
  margin: auto;
  width: 95%;
  border: #00caad 2px solid;
}
#About-Me #About-Me-Information #About-Me-SectionTitle {
  display: inline-block;
  color: #a9aad1;
  font-size: 2vw;
  color: #a9aad1;
  position: relative;
  font-size: 2.5vw;
  padding-top: 3%;
  left: 6%;
}
#About-Me #About-Me-Information #About-Me-SectionTitle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #About-Me #About-Me-Information #About-Me-SectionTitle {
    font-size: 4vw !important;
  }
}
@media (max-width: 1000px) {
  #About-Me #About-Me-Information #About-Me-SectionTitle {
    font-size: 2.5vw;
  }
}
#About-Me #About-Me-Information #Description-Image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#About-Me #About-Me-Information #Description-Image #About-Me-Description {
  display: block;
  width: 50%;
  height: fit-content;
  font-size: 1vw;
  color: #8892b0;
  padding-top: 3%;
}
@media (max-width: 1000px) {
  #About-Me #About-Me-Information #Description-Image #About-Me-Description {
    font-size: 2vw;
  }
}
#About-Me #About-Me-Information #Description-Image #Personal-Image {
  display: block;
  width: 17vw;
  opacity: 0;
  transition: 0.4s ease-in opacity;
}
@media (max-width: 1000px) {
  #About-Me #About-Me-Information #Description-Image #Personal-Image {
    width: 30vw;
    opacity: 1;
  }
}
#About-Me #About-Me-Information:hover #Personal-Image {
  opacity: 1 !important;
}
#About-Me #About-Me-Information:hover #About-Me-SectionTitle::after {
  width: 100%;
  opacity: 1;
}

#Education {
  margin-bottom: 30vh;
}
#Education #Education-Information {
  margin: auto;
  width: 95%;
  border: #00caad 2px solid;
}
#Education #Education-Information #Section-Title {
  color: #a9aad1;
  position: relative;
  font-size: 2.5vw;
  padding-top: 3%;
  left: 6%;
}
#Education #Education-Information #Section-Title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Education #Education-Information #Section-Title {
    font-size: 4vw !important;
  }
}
#Education #Education-Information #University-Name {
  position: relative;
  bottom: 1vh;
  left: 8%;
  display: inline-block;
  color: #8892b0;
  font-size: 1.5vw;
}
#Education #Education-Information #University-Name::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Education #Education-Information #University-Name {
    font-size: 2.5vw;
    bottom: 3vh;
  }
}
#Education #Education-Information #University-Major {
  display: block;
  position: relative;
  color: #8892b0;
  font-size: 2vw;
  left: 12%;
}
#Education #Education-Information #University-Major::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Education #Education-Information #University-Major {
    font-size: 2.5vw;
    bottom: 4vh;
  }
}
#Education #Education-Information #University-Description {
  display: inline-block;
  position: relative;
  width: 70%;
  color: #8892b0;
  font-size: 1.5vw;
  left: 12%;
}
@media (max-width: 1000px) {
  #Education #Education-Information #University-Description {
    font-size: 2vw;
    bottom: 5vh;
  }
}
#Education #Education-Information:hover #Section-Title::after {
  width: 15% !important;
  opacity: 1 !important;
}
#Education #Education-Information:hover #University-Name::after {
  width: 98% !important;
  opacity: 1 !important;
}
#Education #Education-Information:hover #University-Major::after {
  width: 25% !important;
  opacity: 1 !important;
}

#Technologies {
  margin-bottom: 30vh;
}
#Technologies #Tech-Section-Information {
  margin: auto;
  width: 95%;
  border: #00caad 2px solid;
}
#Technologies #Tech-Section-Information #Tech-SectionTitle {
  display: inline;
  color: #a9aad1;
  position: relative;
  font-size: 2.5vw;
  padding-top: 3%;
  left: 6%;
}
#Technologies #Tech-Section-Information #Tech-SectionTitle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Technologies #Tech-Section-Information #Tech-SectionTitle {
    font-size: 4vw !important;
  }
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container {
  position: relative;
  padding-top: 3%;
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container:hover .Tech-Projects-Link {
  transform: translateY(0);
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container:hover .Tech-Image-Container .Tech-Image {
  transform: scale(1.2);
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Image-Container {
  z-index: 3;
  position: relative;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #3a4658;
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Image-Container .Tech-Image {
  transform: scale(1);
  transition: 0.5s transform;
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Projects-Link {
  z-index: 2;
  transform: translateY(-100%);
  transition: 0.5s transform;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4658;
  height: 10vh;
  border: 1px solid black;
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Projects-Link .Projects-Link {
  font-size: 1vw;
  color: #a9aad1;
  opacity: 0.5;
  font-weight: bold;
  transition: 1s all;
}
@media (max-width: 1000px) {
  #Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Projects-Link .Projects-Link {
    font-size: 2vw;
  }
}
#Technologies #Tech-Section-Information #Flutter-Firebase-Java .container .Tech-Projects-Link .Projects-Link:hover {
  opacity: 1;
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Projects-Link {
  z-index: 2;
  transform: translateY(-100%);
  transition: 0.5s transform;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4658;
  height: 10vh;
  border: 1px solid black;
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Projects-Link .Projects-Link {
  font-size: 1vw;
  color: #a9aad1;
  opacity: 0.5;
  font-weight: bold;
  transition: 1s all;
}
@media (max-width: 1000px) {
  #Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Projects-Link .Projects-Link {
    font-size: 2vw;
  }
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Projects-Link .Projects-Link:hover {
  opacity: 1;
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container {
  position: relative;
  padding-top: 3%;
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container:hover .Tech-Projects-Link {
  transform: translateY(0);
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container:hover .Tech-Image-Container .Tech-Image {
  transform: scale(1.2);
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Image-Container {
  z-index: 3;
  position: relative;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #3a4658;
}
#Technologies #Tech-Section-Information #Html-Css-JavaScript .container .Tech-Image-Container .Tech-Image {
  transform: scale(1);
  transition: 0.5s transform;
}
#Technologies:hover #Tech-SectionTitle::after {
  width: 100% !important;
  opacity: 1 !important;
}

#Projects {
  margin-bottom: 5%;
}
#Projects #Projects-Section-Information {
  margin: auto;
  width: 95%;
  border: #00caad 2px solid;
}
#Projects #Projects-Section-Information:hover #Projects-SectionTitle::after {
  width: 100%;
  opacity: 1;
}
#Projects #Projects-Section-Information #Projects-SectionTitle {
  display: inline-block;
  color: #a9aad1;
  position: relative;
  font-size: 2.5vw;
  padding-top: 3%;
  left: 6%;
}
#Projects #Projects-Section-Information #Projects-SectionTitle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Projects-SectionTitle {
    font-size: 4vw !important;
  }
}
#Projects #Projects-Section-Information .Projects-Type {
  color: #8892b0;
  font-size: 2vw;
  position: relative;
  left: 7%;
  padding-top: 1%;
}
#Projects #Projects-Section-Information #Flutter-Section {
  margin-top: 3%;
  margin-bottom: 10%;
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card {
  margin: auto;
  height: 30vh;
  transition: 0.5s height;
  width: 50%;
  background-color: #3a4658;
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Image-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s height;
  height: 0;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Image-Container {
    display: none;
  }
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Image-Container .Project-Image {
  display: inline;
  transform: scale(90%);
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Description-Container .Project-Title {
  font-size: 1.5vw;
  color: #ccd3f9;
  text-align: center;
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Description-Container .Project-Title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Description-Container .Project-Title {
    font-size: 2.5vw;
  }
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Description-Container .Project-Description {
  font-size: 1vw;
  color: whitesmoke;
  text-align: center;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Description-Container .Project-Description {
    font-size: 1.4vw;
  }
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Link-Container {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Link-Container .Project-Link {
  font-size: 1vw;
  color: #a9aad1;
  opacity: 0.5;
  font-weight: bold;
  transition: 1s all;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Link-Container .Project-Link {
    font-size: 2vw;
  }
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Link-Container .Project-Link:hover {
  opacity: 1;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card .Project-Link-Container {
    height: 5vh;
  }
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card:hover {
    height: 30vh !important;
  }
  #Projects #Projects-Section-Information #Flutter-Section .Projects-Card:hover .Image-Container {
    height: 0vh !important;
  }
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card:hover {
  height: 60vh;
}
#Projects #Projects-Section-Information #Flutter-Section .Projects-Card:hover .Image-Container {
  height: 30vh;
}
#Projects #Projects-Section-Information #Web-Section {
  margin-top: 3%;
  margin-bottom: 10%;
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card {
  margin: auto;
  height: 30vh;
  transition: 0.5s height;
  width: 50%;
  background-color: #3a4658;
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Image-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s height;
  height: 0;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card .Image-Container {
    display: none;
  }
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Image-Container .Project-Image {
  display: inline;
  transform: scale(90%);
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Description-Container .Project-Title {
  font-size: 1.5vw;
  color: #ccd3f9;
  text-align: center;
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Description-Container .Project-Title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Description-Container .Project-Title {
    font-size: 2.5vw;
  }
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Description-Container .Project-Description {
  font-size: 1vw;
  color: whitesmoke;
  text-align: center;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Description-Container .Project-Description {
    font-size: 1.4vw;
  }
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Link-Container {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Link-Container .Project-Link {
  font-size: 1vw;
  color: #a9aad1;
  opacity: 0.5;
  font-weight: bold;
  transition: 1s all;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Link-Container .Project-Link {
    font-size: 2vw;
  }
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Link-Container .Project-Link:hover {
  opacity: 1;
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card .Project-Link-Container {
    height: 5vh;
  }
}
@media (max-width: 1000px) {
  #Projects #Projects-Section-Information #Web-Section .Projects-Card:hover {
    height: 30vh !important;
  }
  #Projects #Projects-Section-Information #Web-Section .Projects-Card:hover .Image-Container {
    height: 0vh !important;
  }
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card:hover {
  height: 60vh;
}
#Projects #Projects-Section-Information #Web-Section .Projects-Card:hover .Image-Container {
  height: 30vh;
}
#Projects #Projects-Section-Information #Web-Section .Image-Container .Project-Image {
  transform: scale(60%) !important;
}

#Contact {
  margin-top: 30%;
  border: 1px solid #00caad;
  transition: 0.6s all;
}
#Contact #Contact-Information {
  height: 30vh;
}
#Contact #Contact-Information #Contact-Section-Title {
  color: #a9aad1;
  position: relative;
  font-size: 2.5vw;
  padding-top: 3%;
  left: 6%;
  font-size: 2vw;
  padding-top: 1%;
}
#Contact #Contact-Information #Contact-Section-Title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00caad;
  left: 1.5px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
@media (max-width: 1000px) {
  #Contact #Contact-Information #Contact-Section-Title {
    font-size: 4vw !important;
  }
}
#Contact #Contact-Information .row {
  position: relative;
  top: 30%;
}
#Contact #Contact-Information .row #Social-Media-Links-List {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#Contact #Contact-Information .row #Social-Media-Links-List .Social-Media-Links {
  height: 5vh;
  transition: scale(50%);
}
#Contact #Contact-Information .row .Contact-Information-Email-Phone {
  display: flex;
  justify-content: space-around;
}
#Contact #Contact-Information .row .Contact-Information-Email-Phone .Contact-Information {
  display: inline;
  color: #ccd3f9;
  font-size: 1vw;
}

@media (max-width: 1100px) {
  *::after {
    display: none !important;
  }
  body {
    font-size: 32px;
  }
  #hamburger {
    display: block;
    bottom: 400px;
  }
  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #sectionContainer {
    position: fixed;
    width: 100% !important;
    max-width: 100% !important;
    top: 10px;
    transform: translateX(-300%) !important;
    flex-direction: column;
    background-color: #0a192f;
    opacity: 0.7;
    text-align: center;
    transition: transform 0.3s;
  }
  .sections {
    margin: 16px;
  }
  #nav-bar {
    position: relative;
  }
  #sectionContainer.active {
    transform: translateX(0) !important;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes typingSmall {
  from {
    width: 0;
  }
  to {
    width: 22%;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */